html, body {
	background: #1A1A1A url(images/body.gif);
	padding: 0;
	margin: 0;
	color: #D0D0D0;
}
body { padding: 0 5px; }

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif; }
a, a:visited { color: #48ACFF; }
a:hover		{ text-decoration: underline; color: #F0E80A; }
hr	{ height: 0px; border: solid #2370B6 0px; border-top-width: 1px;}
form { display: inline; padding: 0; margin: 0; }
img { border: 0; }
br.spacer { height: 5px; font-size: 5px; line-height: 5px; overflow: hidden; }
caption { margin: 0; padding: 0; }
iframe { border: none; background-color: #EAEEF3; }

/* The register, login, search etc links at the top of the page */
.mainmenu       { font-size : 11px; color : #000000 }
a.mainmenu      { text-decoration: none; color : #006699;  }
a.mainmenu:hover{ text-decoration: underline; color : #DD6900; }

/* Header and Logo */
#maintable {
	border-style: solid;
	border-width: 0 1px 1px 1px;
	border-color: #000;
}
td.logotable {
    background-color: #050505;
}
.logorow1 {
}
.logorow2 {
}
#buttonstable { 
	margin-bottom: 5px; 
	border-bottom: solid 1px #000;
	border-top: solid 1px #000;
}
#buttonstable td { 
	background: url(images/buttons.gif) top left repeat-x; 
	height: 21px;
	overflow: hidden;
}
#header-buttons {
	font-size: 11px;
	color: #F0E80A;
	padding-bottom: 2px;
}
#header-buttons a, #header-buttons a:visited {
	color: #FFF;
	text-decoration: none;
}
#header-buttons a:hover { color: #F0E80A; text-decoration: underline; }

#content-simple { 
	padding: 3px; 
	border-color: #000;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	background-color: #191919;
}

/* This is the border line & background colour round the entire content */
.content-row { background-color: #191919; }
td.content { 
	background-color: #191919; 
	padding: 5px;
}

/* This is the outline round the main forum tables */
.forumline	{ border: solid 1px #000; background: #2B2B2B url(images/cell.gif) top left repeat-x; }

/* Forum header */
.forumheader td { 
	background: url(images/hdr_mid.gif) left bottom repeat-x;
	font-size: 12px;
	font-weight: bold;
	color: #4296C5;
}
.forumheader a, .forumheader a:visited {
	color: #48ACFF;
	text-decoration: underline;
}
.forumheader a:hover {
	color: #D0D0D0;
	text-decoration: underline;
}
.forumheader-mid { padding-top: 2px; }

/* pm popup */
.pm-old { display: none; }
.pm-new { margin: 30px; }
.pm-new a, .pm-new a:visited { 
	border: solid 1px #F0E80A; 
	padding: 25px 45px;
	color: #48ACFF;
	text-decoration: underline;
	font-size: 12px;
	font-weight: normal;
	background: #2B2B2B url(images/cell.gif) top left repeat-x;
}
.pm-new a:hover, .pm-new a:active {
	color: #F0E80A;
}
/* Main table cell colours and backgrounds */
td.row1, td.row2, td.row3, td.row3Right, td.postbottom {
	border-left: solid 1px #404040;
	border-right: solid 1px #121212;
	border-top: solid 1px #3C3C3C;
	border-bottom: solid 1px #131313;
	background: #202020 ;
}


/* Header cells - the blue and silver gradient backgrounds */
th, td.spaceRow, td.th {
	color: #CCDFF0; 
	font-size: 11px; 
	font-weight: bold;
	background: #4A6786 url(images/th.gif) top left repeat-x;
	white-space: nowrap;
	padding: 0 5px;
	text-align: center;
	height: 26px;
	border-left: solid 1px #317CC2;
	border-right: solid 1px #164C7D;
	border-top: solid 1px #3981C3;
	border-bottom: solid 1px #164C7D;
}
th.left { text-align: left; }

td.catBottom {
	background: #26629A url(images/catbottom.gif) top left repeat-x;
	height: 24px;
	padding: 1px 3px;
	border-left: solid 1px #317CC2;
	border-right: solid 1px #164C7D;
	border-top: solid 1px #3981C3;
	border-bottom: solid 1px #164C7D;
}
td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.spaceRow2 {
	background: #2C2C2C url(images/cathead.gif) top left repeat-x;
	height: 24px;
	padding: 0 3px;
	border-left: solid 1px #404040;
	border-right: solid 1px #121212;
	border-top: solid 1px #3C3C3C;
	border-bottom: solid 1px #131313;
}
td.spaceRow, td.spaceRow2 { height: 2px; overflow: hidden; font-size: 2px; line-height: 2px; padding: 0; }
.cat,.catHead,.catSides,.catLeft,.catRight,.catBottom { font-size: 12px; }


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.catHead { font-size: 12px; }

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 22px; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #D0D0D0;
}


/* General text */
.gen { font-size: 12px; }
.genmed { font-size: 11px; }
.gensmall { font-size: 10px; }
.gen,.genmed,.gensmall { color: #FFFFFF; }
a.gen,a.genmed,a.gensmall { color: #48ACFF; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #F0E80A; text-decoration: underline; }

.generror { color: #FFF; }
.progress { background-color: #F0E80A; }

/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #6080FF; }
a.forumlink 	{ text-decoration: none; color : #6080FF; }
a.forumlink:hover { text-decoration: underline; color: #F0E80A; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: normal; font-size: 11px; color: #D0D0D0;}
a.nav			{ text-decoration: none; color : #2370B6; }
a.nav:hover		{ text-decoration: underline; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: normal; font-size: 11px; color: #D0D0D0; }
a.topictitle:link   { text-decoration: none; color: #48ACFF; }
a.topictitle:visited { text-decoration: none; color: #48ACFF; }
a.topictitle:hover	{ text-decoration: underline; color: #F0E80A; }

/* new thread link */
.link-new a, .link-new a:visited, .link-new a.topictitle, .link-new a.topictitle:visited { color: #F0E80A; }
.link-new a:hover, .link-new a:active, .link-new a.topictitle:hover, .link-new a.topictitle:active { color: #CCDFF0; }

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size: 11px; }
.postername		{ font-size: 12px; font-weight: bold; color: #7080FF; line-height: 1.5em; }

/* Location, number of posts, post date etc */
.postdetails		{ font-size: 10px; }
.posterrank		{ font-size: 9px; color: #B0B0B0; }
.posterprofile	{ font-size: 10px; color: #D0D0D0; }

/* The content of the posts (body of text) */
.postbody { font-size: 12px;}
.postbody a	{ text-decoration: none; color: #48ACFF; }
.postbody a:visited { text-decoration: none; color: #48ACFF; }
.postbody a:hover { text-decoration: underline; color: #F0E80A; }

/* Other post stuff */
td.postbottom { 
	background: #2D2D2D url(images/profile.gif) top left repeat-x; 
	font-size: 10px;
	color: #D0D0D0;
	white-space: nowrap;
}

.postsubject {
	font-size: 12px;
	font-weight: bold;
	color: #6080FF;
}

/* Quote & Code blocks */
.quote-table, .code-table {
	border-left: solid 1px #090909;
	border-top: solid 1px #090909;
	border-right: solid 1px #000;
	border-bottom: solid 1px #000;
	margin: 5px 0;
}
.quote-corner, .code-corner {
	background-color: #2671B6;
	border-right: solid 1px #000;
}
.quote-left {
	background: #2671B6 url(images/quote_left.gif) center center no-repeat;
	border-right: solid 1px #000;
}
.code-left {
	background: #2671B6 url(images/code_left.gif) center center no-repeat;
	border-right: solid 1px #000;
}
.quote-header, .code-header {
	border-bottom: solid 1px #000;
	padding: 0 5px;
	text-align: left;
	vertical-align: middle;
	font-size: 11px;
	background-color: #2E2E2E;
	color: #D0D0D0;
}
.quote-text {
	color: #D0D0D0;
	text-align: left;
	vertical-align: top;
	font-size: 11px;
	line-height: 125%;
	padding: 3px 5px;
	background-color: #2E2E2E;
}

.code-text {
	font-family: Courier, 'Courier New', sans-serif;
	color: #D0D0D0;
	text-align: left;
	vertical-align: top;
	font-size: 11px;
	line-height: 125%;
	padding: 3px 5px;
	background-color: #2E2E2E;
}

/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #CCC; letter-spacing: -1px;}

/* Form elements */
input,textarea, select {
	color: #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

input.post, textarea {
	border: solid 1px #2370B6;
	background-color: #222;
	color: #D0D0D0;
}
* html input.post, * html textarea { border-color: #D0D0D0; }
input.post:hover, textarea:hover { border-color: #D0D0D0; }
input.post:focus, textarea:focus { border-color: #F0E80A; color: #FFF; }


select {
	background-color: #000;
	color: #D0D0D0;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color: #2B2B2B;
	color: #4040FF;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
	border: solid 1px #444;
}
input.button:hover { 
	background-color: #444; 
	color: #FFF;
}
* html input.button { color: #4040FF; }

/* The main submit button option */
input.mainoption {
	background-color: #222;
	color: #D0D0D0;
	font-weight : bold;
	border: solid 1px #000;
}

/* None-bold submit button */
input.liteoption {
	background-color: #222;
	color: #D0D0D0;
	border: solid 1px #000;
}

input.mainoption:hover, input.liteoption:hover { border-color: #D0D0D0; }
input.mainoption:focus, input.liteoption:focus { color: #FFF; border-color: #F0E80A; }


/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #2B2B2B; border: solid 1px #313131; color: #D0D0D0; }


/*
	Styled checkboxes and radio buttons.
	Created by Philip Howard, GamingHeadlines.co.uk
	Web: http://www.gamingheadlines.co.uk/wod/formstyle/index.html
*/
.checkbox {
	background: url(images/CheckboxUnchecked.gif) no-repeat center center;
	display: block; 
	width: 16px; 
	height:16px;
}
a.checkbox, a.checkboxchecked {
	display: block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	cursor: hand;
}
a.checkbox {
	background: url(images/CheckboxUnchecked.gif) no-repeat center center;
}
a.checkboxchecked {
	background: url(images/CheckboxChecked.gif) no-repeat center center;
}

.radiobox {
	background: url(images/RadioboxUnchecked.gif) no-repeat center center;
	display: block; 
	width: 16px; 
	height:16px;
}
a.radiobox, a.radioboxchecked {
	display: block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	cursor: hand;
}
a.radiobox {
	background: url(images/RadioboxUnchecked.gif) no-repeat center center;
}
a.radioboxchecked {
	background: url(images/RadioboxChecked.gif) no-repeat center center;
}

.inputhidden { display: none; }
